{% extends 'home/base.html' %}
{% block title %}
  About us
{% endblock %}

{% block ac-about %}
    <a class="nav-link active" href="/about">About</a>
{% endblock %}

{% block name %}

{% endblock %}

{% block body %}
  
<div class="card">
  <center>
  <img style="width: 400px" src="https://t3.ftcdn.net/jpg/01/28/44/76/360_F_128447604_6deYSrg6bgH2F3YaoU0icdhvxNu4ReDN.jpg" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Python Blog</h5>
    <p class="card-text">Code blog read our blogs</p>
    <a href="/contact" class="btn btn-primary">Contact Us</a>
  </div>
</center>
</div>
{% endblock %}