{% extends 'home/base.html' %}
{% block title %}
  Contact
{% endblock %}

{% block ac-con %}
    <a class="nav-link active" href="/contact">Contact</a>
{% endblock %}

{% block name %}

{% endblock %}

{% block body %}
<div class="container">
  <center><img style="width: 200px; height: relative;" style="margin: 0px;" src="https://thumbs.dreamstime.com/b/contact-us-sticker-sign-transparent-background-rectangular-button-325782797.jpg" class="card-img-top" alt="..."></center>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Status : </strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>  
  {% endfor %}
  <form action="/contact" method="post" >
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="name">
      </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
     </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone No</label>
      <input type="phone" class="form-control" name="phone" id="phone">
      </div>
    <div class="mb-3">
      <label for="content" class="form-label">Describe your Issue</label>
      <textarea type="text" class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary"  >Submit</button>
  </form>
</div>
{% endblock %}