{% extends 'home/base.html' %}
{% block title %}
  Home
{% endblock %}

{% block ac-home %}
  <a class="nav-link active" aria-current="page" href="/">Home</a>
{% endblock %}

{% block name %}

{% endblock %}

{% block body %}

<div class="transbox">
  <center>
  <img style="width: 600px" src="https://pythonfix.com/pkg/d/django/django-banner.webp" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Code Blog</h5>
    <p class="card-text">Code blog read our blogs</p>
    <a href="/contact" class="btn btn-primary">Contact Us</a>
  </div>
</center>
</div>
  
{% endblock %}